<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Best Movies.</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Leonardo DiCaprio Movies</h1>

    <div id="app">
      <h2>{{ message }}</h2>
      <div v-for="movie in movies">
        <p>{{ movie }}</p>
      </div>
      <input type="text" v-model="newMovie" />
      <button v-on:click="addNewMovie()">Add Movie</button>
    </div>
  </body>
</html>
